.container {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.playGround {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  height: 100vh;
}

.questionArea {
  border: 1px solid rgba(83, 83, 83, 0.4);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.sideBar {
  background-color: rgb(10, 10, 10);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question {
  margin-left: 15px;
}

.q {
  margin-top: 18px;
  color: grey;
  font-size: 11px;
  font-weight: bold;
}

.qName {
  margin-top: 18px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0px;
}

.levelBtn {
  border: 0.3px solid darkgreen;
  background-color: rgba(19, 71, 19, 0.802);
  color: rgb(91, 161, 91);
  padding: 2px 5px;
  font-size: 11px;
  border-radius: 8px;
}

.logo {
  height: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

.levelDiv {
  display: flex;
  align-items: center;
}

.points {
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.solutionArea {
  border: 0.5px solid rgba(83, 83, 83, 0.4);
  border-radius: 6px;
  display: grid;
  grid-template-rows: 7fr 3fr;
}

.solutionAreaPart1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 12, 12);
  border: 1px solid rgba(83, 83, 83, 0.4);
  border-radius: 3px;
}

.refreshBtn {
  height: 25px;
  width: 25px;
  border-radius: 13px;
  margin-right: 15px;
}

.langSelect {
  background-color: black;
  color: white;
  margin-left: 15px;
  border: 1px solid rgba(83, 83, 83, 0.6);
  border-radius: 4px;
  padding: 3px 6px;
}

.monacoEditor {
  border: 0.5px solid rgba(83, 83, 83, 0.4);
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.resultArea {
  border: 0.5px solid rgba(83, 83, 83, 0.4);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.resultHeadings {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  border: 0.5px solid rgba(83, 83, 83, 0.4);
  background-color: rgb(12, 12, 12);
}

.closeBtn {
  color: grey;
  margin-top: 0;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.jn {
  color: grey;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}